.author {
  padding: 58px 0 65px 0;
  margin: 0 50px 0 50px;
}

.author__container {
  padding: 0;
}

.author__about {
  display: grid;
  grid-template-areas:
    'name photo'
    'info photo'
    'story photo'
    'link photo';
  grid-template-columns: minmax(300px, 600px) 270px;
  grid-template-rows: auto minmax(30px, auto) minmax(170px, auto) auto;
  justify-content: space-between;
  row-gap: 18px;
  column-gap: 10px;
}

.author__name {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  grid-area: name;
}

.author__image {
  width: 40px;
  height: 40px;
}

.author__info {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  grid-area: info;
}

.author__story {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  grid-area: story;
}

.author__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: rgb(8, 66, 88);
  padding-left: 5px;
  cursor: pointer;
  grid-area: link;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 100px;
  background: linear-gradient(to right, #c5d7e1 5%, #ffffff 19%);
}

.author__photo {
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 327px;
  grid-area: photo;
  border-radius: 10px;
  margin: 0 0 0 auto;
  box-shadow: 1px 1px 14px 8px #23251e;
}

@media screen and (max-width: 1279px) {
  .author__name {
    font-size: 40px;
    line-height: 40px;
  }

  .author__info {
    font-size: 12px;
    line-height: 18px;
  }

  .author__story {
    font-size: 12px;
    line-height: 18px;
  }

  .author__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 786px) {
  .author {
    margin: 0 auto 0 auto;
  }

  .author__container {
    width: 86vw;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 769px) {
  .author {
    width: 88vw;
    padding: 60px 0 78px 0;
  }

  .author__about {
    padding-top: 10px;
    grid-template-columns: minmax(auto, auto) minmax(255px, auto);
    grid-template-rows: minmax(30px, auto) minmax(25px, auto) minmax(187px, auto) auto;
    row-gap: 12px;
    column-gap: 10px;
  }

  .author__name {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .author__info {
    font-size: 11px;
    line-height: 16px;
  }

  .author__story {
    font-size: 11px;
    line-height: 16px;
  }

  .author__photo {
    max-width: 100%;
    width: 255px;
    margin: 0 auto;
    height: 307px;
  }

  .author__container {
    width: 87vw;
    padding: 0;
    margin: 0 0 0 3px;
  }
}

@media screen and (max-width: 466px) {
  .author__about {
    grid-template-areas:
      'photo'
      'name'
      'info'
      'story'
      'link';
    row-gap: 28px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
  }
}

@media screen and (max-width: 489px) and (min-width: 280px) {
  .author__container {
    max-width: 90vw;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 339px) {
  .author {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    max-width: 287px;
  }

  .author__about {
    grid-template-columns: 217px;
    grid-template-rows: minmax(385px, auto) minmax(47px, auto) minmax(26px, auto) minmax(144px, auto) auto;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 0;
  }

  .author__container {
    padding-bottom: 0;
    margin: 0;
    max-width: 287px;
  }

  .author__photo {
    margin: 0;
    max-width: 287px;
    max-height: 357px;
  }

  .author__name {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }
}